<!-- Four -->
  <section id="four" class="quotes">
    {% for item in page.chicken-eggs %}
    <article>
      <span class="image"><img src="{{ item.image | prepend:site.baseurl }}" alt="{{ item.heading }}" data-position="center" /></span>
      <h2>{{ item.heading }}</h2>
      {% comment %} look through feed-products for matching reference {% endcomment %}
      {% assign pages = site.feed-products | where:"path", item.link %}
      {% for page in pages %}
        <a href="{{ page.url | prepend:site.baseurl }}" class="button small">Learn More</a>
      {% endfor %}
      {% comment %} look through pages for matching reference {% endcomment %}
      {% assign pages = site.pages | where:"path", item.link %}
      {% for page in pages %}
        <a href="{{ page.url | prepend:site.baseurl }}" class="button small">Learn More</a>
      {% endfor %}
      <p>{{ item.description }}</p>
    </article>
    {% endfor %}
  </section>
