<!-- Four -->
  <section id="four" class="quotes">
    <article>
      <span class="image"><img src="/images/chicken.jpg" alt="" data-position="center" /></span>
      <h2>Happy Chickens</h2>
      <!-- <div class="author">
        <span class="name">Jane Doe</span>
        <span class="title">Ipsum dolor nullam</span>
      </div> -->
    </article>
    <article>
      <span class="image"><img src="/images/eggs1.jpg" alt="" data-position="left" /></span>
      <h2>Amazing Eggs</h2>
    </article>
  </section>
