<!-- Five -->
  <section id="five" class="wrapper">
    <div class="inner">
      <div class="split">
        <section class="services">
          <span class="image fit"><img src="images/pic06.jpg" alt="" /></span>
          <h2>Grain Cleaning, Drying, Milling</h2>
          <p>Maecenas id feugiat nunc. Integer gravida augue libero, quis pellentesque amet pharetra a.</p>
          <ul class="actions">
            <li><a href="#" class="button small">Learn More</a></li>
          </ul>
        </section>
        <section class="services">
          <span class="image fit"><img src="images/pic06.jpg" alt="" /></span>
          <h2>Soybean Roasting</h2>
          <p>Maecenas id feugiat nunc. Integer gravida augue libero, quis pellentesque amet pharetra a.</p>
          <ul class="actions">
            <li><a href="#" class="button small">Learn More</a></li>
          </ul>
        </section>
        <section class="services">
          <span class="image fit"><img src="images/pic06.jpg" alt="" /></span>
          <h2>Bio-Ag Distributor</h2>
          <p>Maecenas id feugiat nunc. Integer gravida augue libero, quis pellentesque amet pharetra a.</p>
          <ul class="actions">
            <li><a href="#" class="button small">Learn More</a></li>
          </ul>
        </section>
        <section class="services">
          <span class="image fit"><img src="images/pic06.jpg" alt="" /></span>
          <h2>General Seed Distributor</h2>
          <p>Maecenas id feugiat nunc. Integer gravida augue libero, quis pellentesque amet pharetra a.</p>
          <ul class="actions">
            <li><a href="#" class="button small">Learn More</a></li>
          </ul>
        </section>
      </div>
    </div>
  </section>
