<section id="one" class="wrapper">
  <div class="inner">
    <div class="split style1 centered reversed">
      <section>
        <span class="image fit portrait"><img src="/images/east-coast-organic-feed-mill.jpg" alt="" /></span>
      </section>
      <section>
        <h2>East Coast Organic Feed Mill</h2>
        <div class="features">
          <article><a href="#">
            <h3><a href="#">Sed veroeros</a></h3>
            <p>Lorem ipsum dolor sit amet nulla etiam feugiat sed adipiscing.</p>
          </article>
          <article>
            <h3>Magna etiam</h3>
            <p>Lorem ipsum dolor sit amet nulla etiam feugiat sed adipiscing.</p>
          </article>
          <article>
            <h3>Nulla consequat</h3>
            <p>Lorem ipsum dolor sit amet nulla etiam feugiat sed adipiscing.</p>
          </article>
          <article>
            <h3>Euismod morbi</h3>
            <p>Lorem ipsum dolor sit amet nulla etiam feugiat sed adipiscing.</p>
          </article>
        </div>
      </section>
    </div>
  </div>
</section>
