<!-- Five -->
  <section id="five" class="wrapper">
    <div class="inner">
      <div class="split">
        <section>
          <h2>Feugiat lorem ipsum dolor velit amet dolor dignissim pharetra</h2>
          <span class="image fit"><img src="images/pic06.jpg" alt="" /></span>
          <p>Maecenas id feugiat nunc. Integer gravida augue libero, quis pellentesque amet pharetra a. Ut sagittis ipsum nec velit porttitor, sed convallis ligula pellentesque. Mauris et dignissim sem lacinia lorem ipsum dolor.</p>
          <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
          </ul>
        </section>
        <section>
          <div class="ratings">
            <article>
              <h3>Ipsum amet</h3>
              <div class="progress" data-progress="60">60%</div>
            </article>
            <article>
              <h3>Adipiscing feugiat</h3>
              <div class="progress" data-progress="90">90%</div>
            </article>
            <article>
              <h3>Dolor ligula</h3>
              <div class="progress" data-progress="75">75%</div>
            </article>
            <article>
              <h3>Libero magna</h3>
              <div class="progress" data-progress="45">45%</div>
            </article>
            <article>
              <h3>Nec lacinia</h3>
              <div class="progress" data-progress="55">55%</div>
            </article>
          </div>
        </section>
      </div>
    </div>
  </section>
