<!-- Five -->
  <section id="five" class="wrapper">
    <div class="inner">
      <div class="split">
        {% for item in page.services %}
          <section class="services">
            <span class="image fit"><a href="{{ item.link }}"><img src="{{ item.image }}" alt="{{ item.heading }}" /></a></span>
            <h2><a href="{{ item.link }}">{{ item.heading }}</a></h2>
            <p>{{ item.description }}</p>
            <ul class="actions">
              <li><a href="{{ item.link }}" class="button small">Learn More</a></li>
            </ul>
          </section>
        {% endfor %}
      </div>
    </div>
  </section>
