<section>
  <div class="inner">
    <div class="posts">
      <section class="post">
        <span class="image fit"><img src="https://source.unsplash.com/weekly?nature" alt="" /></span>
        <div class="content">
          <h3>Congue portitor</h3>
          <p>Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.</p>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </div>
      </section>
      <section class="post">
        <span class="image fit"><img src="https://source.unsplash.com/category/nature/400x400" alt="" /></span>
        <div class="content">
          <h3>Duis nisl euismod</h3>
          <p>Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.</p>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </div>
      </section>
      <section class="post">
        <span class="image fit"><img src="https://source.unsplash.com/daily?nature" alt="" /></span>
        <div class="content">
          <h3>Elementum auctor</h3>
          <p>Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.</p>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </div>
      </section>
      <section class="post">
        <span class="image fit"><img src="https://source.unsplash.com/weekly?mountain" alt="" /></span>
        <div class="content">
          <h3>Urna vel lacinia</h3>
          <p>Integer vel tincidunt lacus. Nulla augue nunc, eleifend quis leo ac, maximus interdum tellus. Etiam at vestibulum felis, id efficitur risus. Praesent ac nulla ex. Duis elementum.</p>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </div>
      </section>
      <section class="post">
        <span class="image fit"><img src="https://source.unsplash.com/weekly?nature" alt="" /></span>
        <div class="content">
          <h3>Neque et suscipit</h3>
          <p>Libero condimentum, vehicula sem vel, mattis mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi in aliquam est. Aenean dapibus porttitor nulla ultrices venenatis.</p>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </div>
      </section>
      <section class="post">
        <span class="image fit"><img src="https://source.unsplash.com/random/400x400" alt="" /></span>
        <div class="content">
          <h3>Vestibulum placerat</h3>
          <p>Tristique tellus et ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent mauris risus, pellentesque eu leo non, tincidunt.</p>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</section>
