<!-- Three -->
  <section id="three" class="wrapper">
    <div class="inner">
      <ul class="tabs">
        <li>
          <h3>Aliquam</h3>
          <div class="split reversed">
            <div class="content">
              <h2>Lorem ipsum dolor sit magna feugiat etiam sed dolor</h2>
              <p>Maecenas id feugiat nunc. Integer gravida augue libero, quis pellentesque amet pharetra a. Ut sagittis ipsum nec velit porttitor, sed convallis ligula pellentesque. Mauris et dignissim sem lacinia lorem ipsum dolor.</p>
              <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
              </ul>
            </div>
            <div class="image"><img src="images/pic05.jpg" alt="" /></div>
          </div>
        </li>
        <li>
          <h3>Consequat</h3>
          <div class="split reversed">
            <div class="content">
              <h2>Ipsum lorem accumsan sed nullam feugiat veroeros</h2>
              <p>Veritatis, accusantium, nemo. Officia neque explicabo nihil! Sunt vero reprehenderit, necessitatibus atque, enim autem animi illum quaerat at, corporis dolore ipsam. Voluptatem culpa sapiente sed veroeros.</p>
              <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
              </ul>
            </div>
            <div class="image"><img src="images/pic05.jpg" alt="" /></div>
          </div>
        </li>
        <li>
          <h3>Feugiat</h3>
          <div class="split reversed">
            <div class="content">
              <h2>Adipiscing sed impedit volutpat magna cursus lorem</h2>
              <p>Perspiciatis saepe, mollitia itaque magna etiam dolor sit amet. Sed rerum porro sint iure illo accusantium in amet totam, est. Ipsa nobis ad optio impedit quidem inventore libero, aperiam, nesciunt dolor sit amet.</p>
              <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
              </ul>
            </div>
            <div class="image"><img src="images/pic05.jpg" alt="" /></div>
          </div>
        </li>
      </ul>
    </div>
  </section>
