<ul class="tabs">
  <li>
    <h3>Ingredients</h3>
    <div class="">
      <div class="content">
        <p>Organic Barley, Roasted Organic Soybean, Organic Corn, Organic Field Peas, Organic Wheat, Organic Flax Meal & Bio Ag Poultry Layer Mineral Premix*.  </p>
        <p>*BioAg mineral premixes include a variety of primary and trace minerals and vitamins, from sources such as: limestone; kelp meal; natural trace mineral salt; DL methionine and lysine in the layer mash (amino acids); selenium yeast; probiotics; enzymes; vitamins A, D, and E, plus vitamin B complex in addition to those vitamins in the premix.</p>
        <p>ALL GRAIN INGREDIENTS GROWN AT BARNYARD ORGANICS (home of EAST COAST ORGANIC FEED MILL) except corn (source:  Le Moulins des Cèdres, QC) and flax (source:  Homestead Organics and/or BioAg’s Canadian-sourced flax)</p>
      </div>
    </div>
  </li>
  <li>
    <h3>Directions</h3>
    <div>
      <div class="content">
        <p>Recommended for hens 20 (+) weeks or once they begin laying eggs.  Keep bottom of feeders level with the top of the backs of your hens to minimize wastage.  Offer plenty of fresh water away from feed.  Offer appropriate-sized, free-choice grit to aid digestion.  Store in a cool, dry place. Unlike many pelletized feeds, our feeds are whole grain and contain no preservatives.  Do not use if mouldy or wet and aim to use the product within three months of purchase.</p>
      </div>
    </div>
  </li>
  <li>
    <h3>Analysis</h3>
    <div>
      <div class="content">
        <table>
          <tr>
            <td>Crude Protein</td>
            <td>MIN 17%</td>
          </tr>
          <tr>
            <td>Crude   Fat</td>
            <td>MIN   4%</td>
          </tr>
          <tr>
            <td>Crude   Fibre</td>
            <td>MAX   5%</td>
          </tr>
          <tr>
            <td>Calcium</td>
            <td>ACT    4%</td>
          </tr>
          <tr>
            <td>Phosphorus</td>
            <td>ACT 0.6%</td>
          </tr>
          <tr>
            <td>Sodium</td>
            <td>ACT    0.24%</td>
          </tr>
          <tr>
            <td>Vitamin   A</td>
            <td>MIN 9,500   IU/Kg</td>
          </tr>
          <tr>
            <td>Vitamin   D3</td>
            <td>MIN 3,000   IU/Kg</td>
          </tr>

          <tr>
            <td>Vitamin   E</td>
            <td>MIN   20 IU/Kg</td>
          </tr>
        </table>

      </div>
    </div>
  </li>
</ul>
