<ul class="tabs">
  <li>
    <h3>Ingredients</h3>
    <div class="">
      <div class="content">
        {{ page.ingredients | markdownify }}
      </div>
    </div>
  </li>
  <li>
    <h3>Directions</h3>
    <div>
      <div class="content">
        {{ page.directions | markdownify }}
      </div>
    </div>
  </li>
  <li>
    <h3>Guaranteed Analysis</h3>
    <div class="content">
      {{ page.general_analysis | markdownify }}
    </div>
    <div>
      <div class="content">
        <table>
          {% for item in page.analysis_table %}
          <tr>
            <td>{{ item.nutrients }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
          {% endfor %}
        </table>

      </div>
    </div>
  </li>
</ul>
