{% include head.html %}
{% include header.html %}
<!-- Main -->
<section id="main" class="wrapper sidebar left">
<div class="inner">



  <header>
    <h1>{{ page.title | escape }}</h1>
    {{ content }}
  </header>
  <div class="content">
    <section>
      <div class="inner">
        {% if page.layout-mod == "one-row" %}
        <div class="split">
        {% else %}
        <div class="posts">
        {% endif %}
        {% for item in page.links %}
          {% if page.layout-mod == "one-row" %}
          <section>
          {% else %}
          <section class="post">
          {% endif %}
            <span class="image fit"><a href="{{ item.link | prepend:site.baseurl }}"><img src="{{ item.image | prepend:site.baseurl }}" alt=""></a></span>
            <div class="content">
              <h3><a href="{{ item.link | prepend:site.baseurl }}">{{ item.heading }}</a></h3>
              <p>{{ item.description }}</p>
              <ul class="actions">
                <li><a href="{{ item.link | prepend:site.baseurl }}" class="button">More</a></li>
              </ul>
            </div>
          </section>
      	{% endfor %}
        </div>
      </div>
    </section>
  </div>
  <!-- Sidebar -->
  {% include feed-nav.html %}
</div>
</section>

{% include scripts.html %}
{% include footer.html %}
</body>
</html>
