{% include head.html %}
{% include header.html %}
<!-- Main -->
<section id="main" class="wrapper sidebar left">
<div class="inner">
  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>
  <div class="content">
    <div class="row">
    <div class="8u 12u(small)">
      <div class="subheading">
        {{ content }}
      </div>
      {% include tabs.html %}
    </div>
    <div class="4u">
      <span class="image fit">
      <img src="/barnyard-organics/images/hog-lucy2.JPG"><br>
      <img src="/barnyard-organics/images/hog-lucy.JPG"></span>
    </div>
    </div>
  </div>
  <!-- Sidebar -->
  {% include feed-nav.html %}
</div>
</section>
{% include scripts.html %}
{% include footer.html %}
</body>
</html>
