{% include head.html %}
{% include header.html %}
<!-- Main -->
<section id="main" class="wrapper sidebar left">
<div class="inner">
  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>
  {% include feed-nav.html %}
  <div class="content">
    <div class="row">
    <div class="8u 12u(small)">
      <div class="subheading">
        {{ page.description | markdownify }}
        {{ content }}
      </div>
      {% include tabs.html %}
    </div>
    <div class="4u">
      <span class="image fit">
      {% for image in page.product-photos %}
        <img src="{{ image | prepend:site.baseurl }}" alt="" data-position="center" /><br>
      {% endfor %}
      </span>
    </div>
    </div>
  </div>
</div>
</section>
{% include scripts.html %}
{% include footer.html %}
</body>
</html>
