{% include head.html %}
{% include header.html %}
<!-- Main -->
<section id="main" class="wrapper sidebar left">
<div class="inner">
  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="subheading">{{ page.description }}</p>
  </header>
  <div class="content">
    {{ content }}
  </div>
  <!-- Sidebar -->
    <div class="sidebar">

      <nav>
        <ul>
          {% for item in site.menus.feed %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>

    </div>



</div>
</section>

{% include scripts.html %}
{% include footer.html %}
</body>
</html>
