{% include head.html %}
{% include header.html %}
<!-- Main -->
<section id="main" class="wrapper">
<div class="inner">
  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="subheading">{{ page.description }}</p>
  </header>
  <div class="content">
    <section>
      <div class="inner">
        {% if page.layout-mod == "one-row" %}
        <div class="split">
        {% else %}
        <div class="posts">
        {% endif %}
        {% for item in page.links %}
          {% if page.layout-mod == "one-row" %}
          <section>
          {% else %}
          <section class="post">
          {% endif %}
            <span class="image fit"><a href="{{ item.link }}"><img src="{{ site.baseurl | prepend:site.baseurl }}" alt=""></a></span>
            <div class="content">
              <h3><a href="{{ item.link }}">{{ item.heading }}</a></h3>
              <p>{{ item.description }}</p>
              <ul class="actions">
                <li><a href="{{ item.link }}" class="button">More</a></li>
              </ul>
            </div>
          </section>
      	{% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>
</section>

{% include scripts.html %}
{% include footer.html %}
</body>
</html>
