{% include head.html %}
{% include header.html %}

<!-- Main -->

<section id="main" class="wrapper sidebar left">
  <div class="inner">
    <header class="major">
      <h1>{{ page.title | escape }}</h1>
      <div class="subheading">{{ site.data.order-form.description | markdownify }}</div>
    </header>
    <!-- Sidebar -->
    {% include feed-nav.html %}

    <form name="order-form" hidden action="/thank-you/" netlify netlify-honeypot="bot-field">
      <input name="purchaser-type" />
      <input name="farm-company-name" />
      <select name="retail-purchaser"></select>
      <input name="first-name" />
      <input name="last-name" />
      <input name="email" />
      <input name="phone-number" />
      <select name="shipping"></select>
      <textarea name="order-summary"></textarea>
      <input name="shipping-price" />
      <input name="hst" />
      <input name="subtotal" />
      <input name="total-price" />
      <input name="payment-method" />
      <textarea name="special-istructions"></textarea>
      <div data-netlify-recaptcha="true"></div>
      <input name="bot-field" />
    </form>

    <div class="content" id="vue-app" >

      <form name="order-form" id="order-form" method="POST" action="/thank-you/" netlify netlify-honeypot="bot-field">
        <p style="display: none">
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
          <input type="hidden" name="form-name" value="order-form" />
        <div class="row uniform pricing-table">

          <div class="4u 12u$(small)">
            <input type="radio" id="farm-purchaser" name="purchaser-type" value="farm" v-model="purchaser" checked>
            <label for="farm-purchaser">Farm Purchaser</label>
          </div>
          <div class="4u 12u$(small)">
            <input type="radio" id="retail-purchaser" name="purchaser-type" value="retail" v-model="purchaser">
            <label for="retail-purchaser">Retail Purchaser</label>
          </div>

          <!-- retailers only -->
          <div class="8u$ 12u$(small)" v-if="purchaser === 'retail'">
            <label>Company Name</label>
            <div class="select-wrapper">
              <select name="retail-purchaser" v-model="companyName">
                <option value="" disabled>Choose One</option>
                {% for element in site.data.retailers %}
                <optgroup label="{{element[0]}}">
                  {% for retailer in element[1] %}
                  <option value="{{retailer}}">{{retailer}}</option>
                  {% endfor %}
                </optgroup>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="12u$ 12u$(small)" v-if="purchaser === 'farm'">
            <label for="farm-company-name">Company Name</label>
            <input type="text" name="farm-company-name" id="farm-company-name" value="" placeholder="Name" />
          </div>

          <div class="6u 12u$(small)">
            <label for="first-name">First Name</label>
            <input type="text" name="first-name" id="first-name" value="" placeholder="Name" />
          </div>
          <div class="6u$ 12u$(small)">
            <label for="last-name">Last Name</label>
            <input type="text" name="last-name" id="last-name" value="" placeholder="Last Name" />
          </div>
          <div class="12u$ 12u$(small)">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="" placeholder="Name" />
          </div>
          <div class="12u$ 12u$(small)">
            <label for="phone-number">Phone Number</label>
            <input type="text" name="phone-number" id="phone-number" value="" placeholder="Name" />
          </div>
          <div class="12u$">
            <hr>
          </div>
          <div class="ex-form">

            <prices-table
              title="Barnyard Organics Products"
              :products="barnyardOrganicsProducts"
              :hst-tax-rate="hstTaxRate"
              v-bind="{isRetail: isRetail, formatNumber: formatNumber}"
              @computed-total-price="barnyardComputedTotalPrice = $event">
            </prices-table>

            <prices-table
              title="General Seed Products"
              :products="generalSeedProducts"
              @computed-total-price="generalSeedComputedTotalPrice = $event"
              :hst-tax-rate="hstTaxRate"
              v-bind="{isRetail: isRetail, formatNumber: formatNumber}">
            </prices-table>

            <prices-table
              title="Bio-Ag Products"
              :products="bioAgProducts"
              @computed-total-price="bioAgComputedTotalPrice = $event"
              :hst-tax-rate="hstTaxRate"
              v-bind="{isRetail: isRetail, formatNumber: formatNumber}">
            </prices-table>

            <textarea name="order-summary" v-model="orderSummary" style="display: none"></textarea>

            <div class="row uniform">
              <div class="8u 12u$(small)">
                <p class="order-form-item" style="text-align: left;">Total Quantity</p>
              </div>
              <div class="4u 12u$(small)">
                <div class="order-form-item">
                  {% raw %}
                  {{ totalQuantity }} Items
                  {% endraw %}
                  <p class="error" v-show="!isOrderAllowed">
                    <em>If shipping is required, order must be in multiples of 20 items (1/2 tonnes)</em>
                  </p>
                </div>
              </div>
            </div>
            <div class="row uniform">
              <div class="8u 12u$(small)">
                <label>Shipping</label>
                <div class="select-wrapper">
                  <select name="shipping" v-model="selectedShipping">
                    <option value="pick_at_farm">Pick up at Farm (no shipping)</option>
                    <optgroup label="New Brunswick">
                      {% for element in site.data.shipping-rates.new_brunswick %}
                      <option value="{{element.location}}">{{element.location}}</option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="Prince Edward Island">
                      {% for element in site.data.shipping-rates.pei %}
                      <option value="{{element.location}}">{{element.location}}</option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="Nova Scotia">
                      {% for element in site.data.shipping-rates.nova_scotia %}
                      <option value="{{element.location}}">{{element.location}}</option>
                      {% endfor %}
                    </optgroup>
                  </select>
                </div>
                <ul style="margin: 10px 20px;">
                  <li>Please note that shipping rates will vary due to fuel price fluctuations</li>
                  <li>If shipping is required, order must be in multiples of 20 items (1/2 tonnes)</li>
                </ul>
              </div>
              <div class="4u$ 12u$(small)">
                <label for="">Shipping Price</label>
                <input type="text" name="shipping-price" :value="shippingPriceFormatted" readonly>
              </div>
            </div>
            <div class="row uniform">
              <div class="8u 12u$(small)">
                <p class="order-form-item" style="text-align: left;">HST</p>
                <p class="order-form-item" style="text-align: left;">Sub Total</p>
                <p class="order-form-item" style="text-align: left;">Total Price</p>
              </div>
              <div class="4u 12u$(small)">
                <input :value="hstTaxFormatted" name="hst" readonly class="row-sum order-form-item">
                <input :value="subtotalFormatted" name="subtotal" readonly class="row-sum order-form-item">
                <input :value="grandTotalFormatted" name="total-price" readonly class="row-sum order-form-total">
              </div>
            </div>
            <div class="row uniform">
              <div class="8u 12u$(small)">
                <label for="payment-method">Payment method</label>
                <div class="select-wrapper">
                  <select name="payment-method" id="payment-method">
                    <option value="choose-one">- Choose one -</option>
                    <option value="cheque">Cheque (made out to Barnyard Organics)</option>
                    <option value="e-transfer">e-transfer (sent to info@barnyardorganics.com)</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row uniform">

              <div class="12u$" style="margin-top: 3em;">
                <label for="special-istructions">Special Instructions</label>
                <textarea name="special-istructions" id="special-istructions" placeholder="Enter your message" rows="3"></textarea>
              </div>

              <div class="12u$">
                <ul class="actions">
                  <li>
                    <input type="submit" value="Submit Order" class="special" :disabled="!isOrderAllowed" />
                  </li>
                </ul>
              </div>
            </div>

          </div>

        </div>
      </form>
      <!-- .row -->
    </div>
    <!-- .content -->
  </div>
  <!-- .inner -->
</section>

<script>
  var _orderForm = {{ site.data.order-form | jsonify }}
  var _shippingRates = {{ site.data.shipping-rates | jsonify }}
</script>

{% assign vuejs = 'vue.js' %}
{% if jekyll.environment == "production" %}
  {% assign vuejs = 'vue.min.js' %}
{% endif %}

<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/{{vuejs}}"></script>
<script src="{{site.baseurl}}/assets/js/order.js"></script>
{% include footer.html %}
